* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    color: black;
}

.row {
    margin-top: 10px;
    height: 120px;
    display: flex;
}

.dot {
    position: relative;
    left: 25%;
    background: blue;
    border: 2px solid rgb(30, 255, 0);
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    height: 120px;
    width: 100px;
}

.dot:hover {
    background: purple;
}

.dot:active {
    background: green;
}

img {
    position: relative;
    bottom: 28px;
    right: 28px;
    width: 70px;
    height: 90px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 980px) {
    .row {
        height: 150px;
    }

    .dot {
        left: 10%;
        height: 150px;
        width: 120px;
    }

    img {
        height: 120px;
        width: 90px;
    }
}